<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Search:</strong>
  <%= @game.search %>
</p>

<p>
  <strong>Kinguinprice:</strong>
  <%= @game.kinguinPrice %>
</p>

<p>
  <strong>Instantgamingprice:</strong>
  <%= @game.instantGamingPrice %>
</p>

<p>
  <strong>G2aprice:</strong>
  <%= @game.g2aPrice %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
